.login {
  .imgLeft {
    img {
      height: 20rem;
    }
  }
  .rightForm {
    form {
      .head {
        font-size: 3rem;
        padding: 0;
        font-weight: 600;
      }
      .subDesc {
        margin: 1rem 0 4rem;
      }
      .line {
        input {
          width: 25rem;
          padding: 1rem;
        }
        .vertical-form {
          gap: 0.5rem;
        }
      }
    }
  }
}
