.main {
  flex-grow: 1;

  img {
    width: 25rem;
    margin: 6rem calc(50% - 12.5rem);
  }
  margin: 0 2rem;
}
.pdf {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
}

iframe {
  border-radius: 2rem;
}
